name: CI

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.4.0
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: Cache Dependencies
        id: cache-deps
        uses: actions/cache@v3
        with:
          path: .venv
          key: pydeps-${{ hashFiles('**/poetry.lock') }}
      - name: Install Dependencies
        run: poetry install --no-interaction --no-root
        if: steps.cache-deps.outputs.cache-hit != 'true'
      - name: Install Project
        run: |
          sudo apt install libgirepository1.0-dev
          poetry install --no-interaction
      - name: Check code formatting
        run: poetry run black --check yafti
      - name: Lint code
        run: poetry run ruff yafti
      - name: Run pytest
        run: poetry run pytest --cov=yafti --cov-report=term-missing
